
MonoDroid/obj/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/MonoDroid.dll
MonoDroid/obj/Debug/MonoDroid.csproj.CoreCompileInputs.cache
MonoDroid/obj/Debug/linksrc/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linksrc/MonoDroid.dll
MonoDroid/obj/Debug/linkdst/MonoDroid.pdb
MonoDroid/obj/Debug/linkdst/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linkdst/MonoDroid.dll
MonoDroid/obj/Debug/android/bin/MonoDroid.MonoDroid.apk
MonoDroid/obj/Debug/android/bin/classes.zip
MonoDroid/obj/Debug/android/assets/MonoDroid.dll.mdb
MonoDroid/obj/Debug/android/assets/MonoDroid.dll
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.pdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid-Signed.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll.mdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll
.vs/YPMono/v15/Server/sqlite3/storage.ide-wal
.vs/YPMono/DesignTimeBuild/.dtbcache
.vs/YPMono/v15/.suo
.vs/YPMono/v15/Server/sqlite3/storage.ide
.vs/YPMono/v15/Server/sqlite3/storage.ide-shm
.vs/YPMono/v15/Server/sqlite3/storage.ide-wal
MonoDroid/Activity1.cs
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll.mdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid-Signed.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/android/assets/MonoDroid.dll
MonoDroid/obj/Debug/android/assets/MonoDroid.dll.mdb
MonoDroid/obj/Debug/android/bin/classes.zip
MonoDroid/obj/Debug/android/bin/MonoDroid.MonoDroid.apk
MonoDroid/obj/Debug/android/bin/packaged_resources
MonoDroid/obj/Debug/assets/Content/nashi.xnb
MonoDroid/obj/Debug/build.props
MonoDroid/obj/Debug/CB512A4MQQ.deployment
MonoDroid/obj/Debug/devices.cache
MonoDroid/obj/Debug/linkdst/MonoDroid.dll
MonoDroid/obj/Debug/linkdst/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linkdst/MonoDroid.pdb
MonoDroid/obj/Debug/linksrc/MonoDroid.dll
MonoDroid/obj/Debug/linksrc/MonoDroid.dll.mdb
MonoDroid/obj/Debug/MonoDroid.csproj.CoreCompileInputs.cache
MonoDroid/obj/Debug/MonoDroid.csprojAssemblyReference.cache
MonoDroid/obj/Debug/MonoDroid.dll
MonoDroid/obj/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/SCV7N18B15001792.deployment
MonoShared/Content/bin/Android/Content/nashi.xnb
MonoShared/Content/bin/Windows/nashi.xnb
MonoShared/Content/Content.mgcb
MonoShared/Content/nashi.png
MonoShared/Content/obj/Android/Content/.mgcontent
MonoShared/Content/obj/Android/Content/.mgstats
MonoShared/Content/obj/Android/Content/nashi.mgcontent
MonoShared/Content/obj/Windows/.mgcontent
MonoShared/Content/obj/Windows/.mgstats
MonoShared/Content/obj/Windows/nashi.mgcontent
MonoShared/Content/obj/Windows/oekaki.mgcontent
MonoShared/MonoShared.projitems
MonoShared/Scene2.cs
MonoShared/YPMono/YPGUI/UI.cs
MonoWin/obj/x86/Debug/MonoWin.csproj.CoreCompileInputs.cache
.vs/YPMono/DesignTimeBuild/.dtbcache
.vs/YPMono/v15/.suo
.vs/YPMono/v15/Server/sqlite3/storage.ide
.vs/YPMono/v15/Server/sqlite3/storage.ide-shm
.vs/YPMono/v15/Server/sqlite3/storage.ide-wal
MonoDroid/Activity1.cs
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll.mdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid-Signed.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/android/assets/MonoDroid.dll
MonoDroid/obj/Debug/android/assets/MonoDroid.dll.mdb
MonoDroid/obj/Debug/android/bin/classes.zip
MonoDroid/obj/Debug/android/bin/MonoDroid.MonoDroid.apk
MonoDroid/obj/Debug/android/bin/packaged_resources
MonoDroid/obj/Debug/build.props
MonoDroid/obj/Debug/devices.cache
MonoDroid/obj/Debug/linkdst/MonoDroid.dll
MonoDroid/obj/Debug/linkdst/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linkdst/MonoDroid.pdb
MonoDroid/obj/Debug/linksrc/MonoDroid.dll
MonoDroid/obj/Debug/linksrc/MonoDroid.dll.mdb
MonoDroid/obj/Debug/MonoDroid.csproj.CoreCompileInputs.cache
MonoDroid/obj/Debug/MonoDroid.csprojAssemblyReference.cache
MonoDroid/obj/Debug/MonoDroid.dll
MonoDroid/obj/Debug/MonoDroid.pdb
MonoShared/Content/Content.mgcb
MonoShared/Content/obj/Android/Content/.mgcontent
MonoShared/Content/obj/Android/Content/.mgstats
MonoShared/Content/obj/Windows/.mgcontent
MonoShared/Content/obj/Windows/.mgstats
MonoShared/Content/obj/Windows/oekaki.mgcontent
MonoShared/MonoShared.projitems
MonoShared/Scene2.cs
MonoShared/YPMono/YPGUI/UI.cs
MonoWin/obj/x86/Debug/MonoWin.csproj.CoreCompileInputs.cache
.vs/YPMono/DesignTimeBuild/.dtbcache
.vs/YPMono/v15/.suo
.vs/YPMono/v15/Server/sqlite3/storage.ide
.vs/YPMono/v15/Server/sqlite3/storage.ide-shm
.vs/YPMono/v15/Server/sqlite3/storage.ide-wal
MonoDroid/Activity1.cs
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll.mdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid-Signed.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/android/assets/MonoDroid.dll
MonoDroid/obj/Debug/android/assets/MonoDroid.dll.mdb
MonoDroid/obj/Debug/android/bin/classes.zip
MonoDroid/obj/Debug/android/bin/MonoDroid.MonoDroid.apk
MonoDroid/obj/Debug/android/bin/packaged_resources
MonoDroid/obj/Debug/build.props
MonoDroid/obj/Debug/devices.cache
MonoDroid/obj/Debug/linkdst/MonoDroid.dll
MonoDroid/obj/Debug/linkdst/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linkdst/MonoDroid.pdb
MonoDroid/obj/Debug/linksrc/MonoDroid.dll
MonoDroid/obj/Debug/linksrc/MonoDroid.dll.mdb
MonoDroid/obj/Debug/MonoDroid.csproj.CoreCompileInputs.cache
MonoDroid/obj/Debug/MonoDroid.csprojAssemblyReference.cache
MonoDroid/obj/Debug/MonoDroid.dll
MonoDroid/obj/Debug/MonoDroid.pdb
MonoShared/Content/Content.mgcb
MonoShared/Content/obj/Android/Content/.mgcontent
MonoShared/Content/obj/Android/Content/.mgstats
MonoShared/Content/obj/Windows/.mgcontent
MonoShared/Content/obj/Windows/.mgstats
MonoShared/Content/obj/Windows/oekaki.mgcontent
MonoShared/MonoShared.projitems
MonoShared/Scene2.cs
MonoShared/YPMono/YPGUI/UI.cs
MonoWin/obj/x86/Debug/MonoWin.csproj.CoreCompileInputs.cache
*.ide
*.dll
.vs/YPMono/DesignTimeBuild/.dtbcache
