
MonoDroid/obj/Debug/MonoDroid.pdb
MonoDroid/obj/Debug/MonoDroid.dll
MonoDroid/obj/Debug/MonoDroid.csproj.CoreCompileInputs.cache
MonoDroid/obj/Debug/linksrc/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linksrc/MonoDroid.dll
MonoDroid/obj/Debug/linkdst/MonoDroid.pdb
MonoDroid/obj/Debug/linkdst/MonoDroid.dll.mdb
MonoDroid/obj/Debug/linkdst/MonoDroid.dll
MonoDroid/obj/Debug/android/bin/MonoDroid.MonoDroid.apk
MonoDroid/obj/Debug/android/bin/classes.zip
MonoDroid/obj/Debug/android/assets/MonoDroid.dll.mdb
MonoDroid/obj/Debug/android/assets/MonoDroid.dll
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.pdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.MonoDroid-Signed.apk
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll.mdb
MonoDroid/bin/Android/AnyCPU/Debug/MonoDroid.dll
